name: "Prebuild checks"

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '13 23 * * *'  # every day @ 23:13
  push:
    branches:
      - 'release/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGOLOCK_COMMENT: Looks like you changed `Cargo.lock`. Please make sure to review the dependencies and update [internal version list](https://www.notion.so/satoshilabs/Rust-dependencies-a9cc6e8dab934def8eb27896c001e6e2).

jobs:
  block-fixup:
    name: Block fixup
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Force init all submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force

      - name: Block Fixup Commit Merge
        uses: 13rac1/block-fixup-merge-action@v2.0.0

  style_check:
    name: Style check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Force init all submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force

      - uses: ./.github/actions/environment

      - name: "Run style check"
        run: nix-shell --run "uv run make style_check"

      - name: "Run .editorconfig check"
        run: nix-shell --run "uv run make editor_check"

  defs_check:
    name: Defs check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Force init all submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force

      - uses: ./.github/actions/environment

      - name: "Run defs check"
        run: nix-shell --run "uv run make defs_check"

  gen_check:
    name: Gen check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Force init all submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force

      - uses: ./.github/actions/environment

      - name: "Run gen check"
        run: nix-shell --run "uv run make gen_check"

  changelog_check:
    name: Changelog check
    if: ${{ github.ref != 'main' && github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Run changelog check"
        run: ./ci/check_changelog.sh

  release_commit_msg_check:
    name: Release commit message check
    if: ${{ startsWith(github.ref, 'refs/heads/release/') && github.repository == 'trezor/trezor-firmware' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Force init all submodules
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --force

      - uses: ./.github/actions/environment

      - name: "Check release commit message format"
        run: ./ci/check_release_commit_messages.sh

  cargolock_check:
    name: Cargo.lock check
    if: ${{ github.ref != 'main' && github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Ask git
        run: |
          git diff --exit-code origin/main -- core/embed/rust/Cargo.lock || echo cargo_modified=1 > $GITHUB_ENV

      - name: Find Comment
        uses: peter-evans/find-comment@v3
        if: ${{ env.cargo_modified == '1' }}
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: cargolock-comment-${{ github.workflow }}

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v4
        if: ${{ env.cargo_modified == '1' && steps.fc.outputs.comment-id == '' }}
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            <!-- cargolock-comment-${{ github.workflow }} -->
            ${{ env.CARGOLOCK_COMMENT }}
          edit-mode: replace
